<table class='table'>
  <tr><%= image_tag user.get_profile_image(100,100) %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>follows</th>
    <th>
      <%= link_to followings_user_relationship_path(user,user.id) do %>
        <%= user.followings.count %>
      <% end %>
    </th><!--そのユーザーがフォローした人数を表示-->
  </th>
  <tr>
    <th>followers</th>
    <th>
      <%= link_to followers_user_relationship_path(user,user.id) do %>
        <%= user.followers.count %>
      <% end %>
    </th><!--フォロワーの人数を表示-->
  </tr>
  <tr>
     <th colspan="5">
      <% unless user == current_user %><!--「unless」は条件が偽の時に以下の処理をする宣言-->
        <% if current_user.following?(user) %>
          <%= link_to 'フォローを外す', user_relationship_path(user.id, current_user.id), method: :delete, class: "btn-sm btn-danger" %>
        <% else %>
          <%= link_to 'フォローする', user_relationships_path(user.id), method: :post, class:"btn-sm btn-success" %>
        <% end %>
      <% end %>
     </th>
  </tr>

</table>
<div class='row'>
  <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
    <i class="fas fa-user-cog"></i>
  <% end %>
</div>