<div class="container">
  <div class="errors">
   <%= render "layouts/errors", obj: @chat %>
  </div>
    <div class="row">
        <div class="col-xs-6">
            <h3><%= @user.name %>さんとのチャット</h3>
            <table class="message table">
              <thead>
                <tr>
                  <th style="text-align: left; font-size: 20px;"><%= current_user.name %></th>
                  <th style="text-align: right; font-size: 20px;"><%= @user.name %></th>
                </tr>
              </thead>
              <div class="chat-log">
              <%= render 'chats/log', chats: @chats %>
              </div>
            </table>
            <div class="chat-form">
              <%= render 'chats/form', chat: @chat %>
            </div>
        </div>
    </div>
</div>
